<% if resource.errors.any? %>
  <div class="error_explanation pt-4">
  <%= image_tag("icons/close.svg", class: "close-button")%>
    <div class="alert alert-danger" role="alert">
      <ul>
        <% resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<script>
$(".close-button").each(function(){
      $(this).on("click", function(){
        $(this).parent(".error_explanation").remove()
      })
    })
</script>
