<table class="table table-borderless table-hover no_wrap">
  <thead>
    <tr>
      <th scope="row">ID</th>
      <th scope="col">名称</th>
      <th scope="col">发布者</th>
      <th scope="col">浏览数</th>
      <th scope="col">发布时间</th>
      <th scope="col">操作</th>
    </tr>
  </thead>
  <tbody>
  <% if @articles_count > 0%>
    <% @articles.each_with_index do |article, index| %>
      <%= render partial: "articles/list_item", locals: {article: article, no: index} %>
    <% end %>
  <% else %>
    <tr>
    <td  colspan="100">
    <%= render partial: "layouts/no_data" %>
    </td>
    </tr>
  <% end %>
  </tbody>
</table>

<div class="paginationBox p-4">
  <%= paginate @articles,left:2,right:1,window: 1, remote: true %>
</div>