<% provide(:title, "编辑文章") %>
<div class="pt-3 pb-3">
  <div class="container common_shadow bg-white border-radius-4">
    <div class="p-4">
      <p class="fs16">编辑文章</p>
      <%= render partial: "articles/form" %>
    </div>
  </div>
</div>