<form action="<%= url %>" method="get" data-remote="true">
  <div class="input-group mb-3">
    <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "搜索关键字..." %>
    <div class="input-group-append">
      <%= button_tag(type: "submit", class: "btn btn-primary",name:nil) do %>
        <i class='fa fa-search'></i>
      <% end %>
    </div>
  </div>
</form>